#ignore any files beginning with a .
.*

#exclude the built style and js files
WebContent/resources/js/script.js
WebContent/resources/js/script.min.js
WebContent/resources/css/style.css
WebContent/resources/css/style.min.css

#ignore the target dir
target/

#ignore the bin dir
bin/

*.appConfig.properties
*.svn
*.class
*.DS_Store
*.project

# Package Files #
*.jar
*.war
*.ear

/.settings
/.classpath

#ignore netbeans config file
nb-configuration.xml
/imits_allele_stats
/bin

#Ignore intellij config files
/PhenotypeArchive.iml
/.idea

#Ignore datasource config file
datasourcesConfig.properties
/WebContent/WEB-INF/datasources-config.xml
/nbactions.xml
/nbactions-web-tests.xml