#ignore any files beginning with a .
.*
#exclude the built style and js files
script.js
script.min.js
style.min.js
style.css
style.min.css
#ignore the target dir
target/
*.appConfig.properties
*.svn
*.class
*.DS_Store
*.project

# Package Files #
*.jar
*.war
*.ear

/.settings
/.classpath

#ignore netbeans config file
nb-configuration.xml
