/* Additional styling written at EBI */

/* hide pagination below tables on gene and phenotype pages */
div#phenotypesDiv div.dataTables_paginate {display: none !important;}

form.no-style{
	border:none;
	padding:none;
}

.filtersMoreLikeNicolas{
	background: white;
	padding: 0.5em; 
	overflow-y: auto;
	display: none;
}
.filtersMoreLikeNicolas.open{
	display: block; 
}
.filtertype_add.open{
	background:white;
}