/*
Add custom css overrides here
  This file gets included as the last CSS import, so anything defined here 
  should override behavior defined previously
*/


// Scrollable divs for code example blocks.
.highlight {
    background: #ffffff;
}
.highlight pre {
    background-color: #f8f8f8;
    border: 1px solid #ddd;
    font-size: 13px;
    line-height: 19px;
    overflow: auto;
    padding: 6px 10px;
    border-radius: 3px;
}
.highlight .se {
    color: #dd1144;
}
.highlight .s1 {
    color: #dd1144;
}