div#mk {
	margin-bottom: 10px;
}
span#mkLeft {
	font-size: 20px;
}
span#mkLeft a {
	text-decoration: none;
}
span#mkRight {
	float: right;
}
div#tabs {
	border: none;
}
ul.ui-tabs-nav {
	border: none;
	border-bottom: 1px solid #666;
	background: none;
}
ul.ui-tabs-nav li:nth-child(1) {
	font-size: 14px;
}
ul.ui-tabs-nav li a {
	margin-bottom: -1px;
	border: 1px solid #666;
	font-size: 12px;
}
ul.ui-tabs-nav li a:hover {
	color: black;
	background-color: gray; 
}
div#tabs table {
	font-size: 14px;
	color: #666;
}
div.ui-tabs-panel {
	padding: 0 !important;
}
table.tablesorter caption {
	font-weight: bold;
	padding: 3px 5px;
	background-color: #F2F2F2;
	border-radius: 5px;
	margin-bottom: 10px;
}
table.tablesorter td a {
	text-decoration: none;
	color: #0978a1;
}
.trtName {
	font-family: Arial !important;
	font-weight: bold !important;
	font-size: 16px !important;
	color: black;
}
span.direct {color: #698B22;} 
   span.indirect {color: #CD8500;}
   
div.dataTables_info {
   	font-size: 14px;
   	padding-bottom: 20px !important;
}
div.dataTables_filter {
   	font-size: 14px;
}
table.dataTable span.highlight {
    background-color: yellow;
    font-weight: bold;
    color: black;
}
div#toolBox {
	font-size: 12px;
}
div#tableTool {
    position: relative;
    top: -40px;
    float: right;
}
form#dnld {
	padding: 5px;
   	border-radius: 5px;
	background: #F2F2F2;
}
form#dnld button {
	text-decoration: none;
}
th.impcData, td.impcData {
	background-color: #EBECE4 !important;
	padding-left: 10px;
}