@CHARSET "UTF-8";

html {
	text-align: center !important;
}
div.errBox {
	width: 60%;
	margin: 20px auto;
}
span#contactTrigger {
	color: #104E8B;
	cursor: pointer;
}
div.footer {
	width: 100% !important;
}
ul {
	list-style: none;
}