.toggle_open, .toggle_closed, .toggle_closed_detail {
   padding-left: 16px;
   padding-top: 2px;
   padding-bottom: 2px;
}
.toggle_open {
   background:url(http://www.mousephenotype.org/martsearch_ikmc_project/images/silk/bullet_arrow_up.png) no-repeat 0 center;
}
.toggle_closed, .toggle_closed_detail {
   background:url(http://www.mousephenotype.org/martsearch_ikmc_project/images/silk/bullet_arrow_right.png) no-repeat 0 center;
}
         
/* Project Page Mutagenesis Prediction Tool */

.exon_deleted {
	background-color: #a61e01;
	color: #fff;
}

.exon_frameshifted {
	background-color: #eb790b;
}

.exon_upstream {
	background-color: #0978a1;
	color: #fff;
}

.exon_downstream {
	background-color: #0978a1;
	color: #fff;
}

.warning {
    border-color: #b2a67b;
    padding: 5px 5px 5px 25px;
    margin-bottom: 10px;
    background: #fbe8ad url(http://www.mousephenotype.org/martsearch_ikmc_project/images/silk/exclamation.png) no-repeat 5px 5px;
    font-style: italic;
    color: #333;
}    

.border, .border th, .border td, td.border {
        border: 1px solid #999 !important;
}
