 body {
  position: relative;
  padding-top: 45px;
}

.dataset {
	border: 1px solid #6998CB;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
	/* padding: 7px 7px 0; */
	margin-bottom: 7px;
}

#drawableCanvas{
    width: 700px;
}