/* New Facet Block without IDs */
div.ffilter {
	display: none; /*default, appears only when filter is added */
	margin-bottom: 5px;
}
p.documentation a {
	float: right;
}
div#facetSrchMsg {
	margin-top: 10px;
	width: 75%;	
}

/* facet - general */
.fblock                                 { position: relative; }
.region-sidebar-first .fblock .head     { background: #0978a1; color: #fff; }
.region-sidebar-first .fblock .content  { background: none; }
.flist li                               { cursor: pointer; }                         
.fcount                                 { font-size: 11px; float: right; }

/* facet - main categories */
.fmcat > .flabel                        { color: #0978A1; font-size: 1.4em; font-weight: 300; }
.fmcat                                  { margin: 1em 0; }
.fmcat:before                           { font-family: 'FontAwesome'; content: "\f0da"; color: #0978A1; margin-right: 0.5em; }
.fmcat.open:before                      { content: "\f0d7"; }
.fmcat.open + .fmcat                    { margin-top: 2.5em; }
.fmcat .fcat,
.fmcat .fcatsection                     { display: none; }
.fmcat.open .fcat,
.fmcat.open .fcatsection                { display: block; }

/* facet - categorie headlines */
.fcatsection > .flabel                  { font-weight: 600; }
.fcatsection:before                     { font-family: 'FontAwesome'; content: "\f0da"; margin-right: 0.5em; }
.fcatsection.open:before                { content: "\f0d7"; }
.fcatsection                            { margin-top: 0.7em; }
.open .fcatsection .fcat,
.fcatsection .fcat                      { display: none; }
.fcatsection.open .fcat                 { display: block; }
.fcatsection.inactive                   { color: #bbb; }
.grayout {
	color: #CCCCCC;
}

/* facet - categories */
li.fcat                                 { margin: 0; font-size: 0.9em; line-height: 1.3em; }
.fcheckbox                              { margin: 0 0.5em 0 -1px; font-size: 0.9em; }

/* highlight checked facet label */
.highlight {
	color: #D17023;
} 


/* active facet filter */
ul#facetFilter > li                     { display: none; }       
ul#facetFilter li.has-sub               { display: block; }
ul#facetFilter li.has-sub span.fcap {
	display: none;
	font-size: 11px;
}
ul#facetFilter li.has-sub + .has-sub    { margin-top: 0em; } 
#resetFilter                            { opacity: 0.5; text-align: right; font-size: 11px; cursor: pointer; margin-top: 5px;}
#resetFilter:before                     { font-family: 'FontAwesome'; content: "\f00d"; margin-right: 0.3em; text-decoration: none; }
#resetFilter:hover                      { opacity: 1; }
.ftag {
	padding: 2px;
}
.ftag a {
	display: block;
	font-size: 11px; 
	line-height: 1.1em; 
	padding: 1px 0.3em; 
	text-decoration: none; 
	color: #fff; 
	background: #0978A1; 
	border-radius: 3px; 
	-webkit-border-radius: 3px; 
	-moz-border-radius: 3px; 
	-ms-border-radius: 3px;	 
}
.ftag a:before                          { font-family: 'FontAwesome'; content: "\f00d"; margin-right: 0.3em; }
.ftag a:hover                           { background: #ddd; color: #666; }
.ffilter                                { background: #f4f4f4; padding: 0.5em; border-radius: 3px; -webkit-border-radius: 3px; -moz-border-radius: 3px; -ms-border-radius: 3px; }


/* dataTable on search page */
div.dataTables_info, div.dataTables_paginate {
	display: inline;	
}
div#resultMsg {
	margin: 10px 5px;
}
div#leftSideBar {
	padding-top: 5px;
} 
div.briefDocCap {
	padding: 1px;
	background-color: gray;
	text-align: center;
	margin-bottom:5px;	
	color: white;
	font-weight: bold;
}
div#mpi2-search .dataTable td a {
	margin-right: 5px !important;
}
span.status {
	margin-right: 5px !important;
}
span.imgAnnots {
	display: block;
}
span.annotType {
	font-weight: bold;	
}
table#diseaseGrid th:nth-child(1) {
	width: 200px !important;
}
table#imagesGrid th:nth-child(1) {
	width: 35% !important;
}
/* end of dataTable on search page */


/* table tool */
div#tableTool {
	font-size: 12px;
	position: relative;
	top: -100px;
	right: 0;	
}
div#saveTable {
	position: relative;
	top: 100px;
	float: right;
	margin-right: 10px;
	cursor: pointer;	
	padding: 1px 5px;
	z-index: 99;	
	background-color: #F4F4F4;
	width: auto;
}
div#saveTable img {
	vertical-align: middle !important;	
}
div#toolBox {
	position: absolute;
	top: -8px;
	right: 10px;	
	height: 80px;
	width: 220px;	
	display: none;
	padding: 15px;
	background-color: #F4F4F4;
	-webkit-border-radius: 5px;
  	-moz-border-radius: 5px;
  	border-radius: 5px; 
}
div#toolBox span {
	display: block;
}
div#saveSep {
	margin: 10px;
}
div.dataName {
	font-weight: bold;
	height: auto;
}
div#exportSpinner {
	float: left;
	color: #CC6600;
}
button.gridDump {
	font-size: 11px;
	background: none;
	border: none;
	color: #0978A1;
    cursor: pointer;
}

/* end of table tool */


/* imgView/annotView switcher */
div#imgView {
	margin-bottom: 10px;
}
span#imgViewSubTitle {
	font-weight: bold;
	font-size: 1em;
	color: gray;
}
span#imgViewSwitcher {
	font-size: 0.8em;
	color: gray;
	float: right;

	cursor: pointer;
}
/* end of imgView/annotView switcher */

/* Disease search results */
span.status.done { 
	padding: 0.1em 0.4em;
	cursor: default !important;
}

/* Table Headings */
th span.main                        { display: block; white-space:nowrap; }
th span.sub                         { font-size: 0.8em; } 
/* end of Disease search results */
