
/* ----- start of  facet filter ----- */
div#filterToggle {
	display: block;
}
ul#facetFilter {
  width: auto;	
  margin: -23px 0 0 150px;
  padding: 3px 6px;
  background: none;
  border-radius: 1em;
  font: normal 1em Arial, Helvetica, sans-serif;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  display: none;
}
ul#facetFilter ul {
  /*z-index: 9999;	
  display: none;*/
  margin: 0 0 5px 20px;
  padding: 2px 5px;
  width: auto;
  /*position: absolute;
  top: 20px;
  left: 0;*/
  /*background: #F4F4F4;*/ /*url(overlay.png) repeat-x 0 0;*/
  /*border: solid 1px #b4b4b4;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;*/ 
}
#facetFilter li.has-sub {
	list-style: none;
}
ul#facetFilter li ul li {	
	list-style: none;
	/*margin-left: 20px;*/	
}
ul#facetFilter li.has-sub {
	display: none;
}
ul#facetFilter li.none {
	display: block;
}

/* ----- end of  facet filter ----- */

div.dataTables_info, div.dataTables_paginate {
	display: inline;	
}

/* table tool */
div#tableTool {
	font-size: 12px;
	position: relative;
	top: -100px;
	right: 0;
	
}
div#saveTable {
	position: relative;
	top: 100px;
	float: right;
	margin-right: 10px;
	cursor: pointer;	
	padding: 1px 5px;
	z-index: 99;	
	background-color: #F4F4F4;
	width: 85px;
}
div#toolBox {
	position: absolute;
	top: -30px;
	right: 10px;	
	height: 123px;
	width: 145px;	
	display: none;
	padding: 15px;	
	background-color: #F4F4F4;
	-webkit-border-radius: 5px;
  	-moz-border-radius: 5px;
  	border-radius: 5px; 
}
div#toolBox span {
	display: block;
}
div#saveSep {
	margin: 10px;
}
div.dataName {
	font-weight: bold;
	height: auto;
}
div#exportSpinner {
	float: left;
	color: #CC6600;
}

div.fileIcons button {
	font-size: 10px;	
}
div.fileIcons button:nth-child(1) {
	margin-left: 10px;	
}

/* end of table tool */

div#resultMsg {
	margin: 10px 5px;
}
div#leftSideBar {
	padding-top: 5px;
} 
div.briefDocCap {
	padding: 1px;
	background-color: gray;
	text-align: center;
	margin-bottom:5px;	
	color: white;
	font-weight: bold;
}
