/*-------- autosuggest -------*/
  
 /* 2 columns: 1 fixed (L), 1 liquid (R) */
/*div#wrapper{float:left;width:100%;}
div#content{margin-left:270px}
div#leftSideBar{float:left;width:230px;margin-left:-100%; border: 1px solid gray; padding: 10px;}*/
/* end of 2 columns style */

input#userInput {
	font-size: 10px;
	color: gray;
}

ul.ui-autocomplete {    
	font-size: 12px;
	height: auto;
	max-height: 300px;
	width: auto;
	min-width: 250px;
	overflow: auto;
	padding: 10px 15px;
	margin-bottom: 0;
    z-index: 9999;
}
ul.ui-autocomplete li {
	border-bottom: 1px dashed #D1D1D1;
	display: block !important; 
}
ul.ui-autocomplete li a {
	float: left !important;
	text-align: left !important;
	display: block !important;
}

div#userKeyword {
	margin-bottom: 15px;
	padding-left: 300px;
	color: #D57C24;
}

/* left panel */
div#leftSideBar {
	/*margin: 0 30px 0 0; */	
	border: 1px solid gray; 
	padding: 10px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
div#leftSideBar div {
	margin-bottom: 5px;	
}
div#leftSideBar a {
	text-decoration: none !important;	
	color: #104E8B !important;
}

div#facetBrowser {
	margin: 5px;
	color: gray;
	font-size: 11px;
	font-weight: bold;
	border-bottom: 1px solid #DCDCDC;
}
div.facetCatList {
	display: none;
	padding: 5px 15px 0 20px;        
	margin: 0;
}
div.facetCat {	
	cursor: pointer;
	width: 70%;
	font-weight: bold;
	font-size: 12px;
	color: #333366;
	float: left;
	padding: 3px 0 3px 20px;	
	background-image: url('../img/right.gif');
    background-repeat: no-repeat;
    background-position: 2px 50%; /*x,y*/	
}
div.facetCatUp {	
	background-image: url('../img/down.gif');
}
span.facetCount {		
	padding: 3px 15px 3px 0;
	float: right;
	font-weight: bold;
    font-size: 11px !important;
    cursor: pointer;    
}
div#imageFacet span.facetCount a {
	color: black !important;
}
table.facetTable {
	width: 100%;
	border-collapse: collapse;
	margin: 0;
}
table.facetTable td {
	border-bottom: 1px solid #CDC8B1;
    font-size: 11px !important;
    text-align: left;
    padding: 0;
}
table.facetTable td:nth-child(3){
	text-align: right !important;
}
table#geneGrid th:nth-child(1) {
	width: 35% !important;
}
table#geneGrid th:nth-child(2) {
	width: 25% !important;
}
div.geneCol {
	font-size: 12px;	
	font-style:italic;
	color: gray !important;
	width: auto;	
}
span.gSymbol {
	display: block;
	font-weight: bold;	
	font-size: 14px;
	font-style: normal;
}
span.gNameSyn {
	font-weight: bold;
}
span#imgViewSubTitle {
	font-weight: bold;
	font-size: 12px;
	color: gray;
}
span#imgViewSwitcher {
	font-size: 10px;
	color: gray;
	float: right;
	margin-right: 10px;
	padding-right: 10px;
	cursor: pointer;
}
span.imgAnnots {
	display: block;
}
span.annotType {
	font-weight: bold;	
}

table#gFacet td.geneSubtypeCount,
table#gFacet td.geneStatusCount,
table#gFacet td.geneSubfacetCount,
/*table#pipeline td[class^=procedure],*/ 
table#pipeline td a.paramCount,
table#mpFacet td.mpTopLevelCount,
table#maFacet td.maTopLevelCount,
table#imgFacet td.imgExperimentCount
/*table#mpFacet td.mpTopLevel*/ 
/*table#maFacet td.maTopLevelCount, table#maFacet td.maTopLevel */{
	cursor: pointer;	
}

tr.subFacet td:nth-child(2) {
	padding-left: 5px !important;	
}

table#gFacet tr.geneSubTypeTrCap {
	cursor: pointer;
}
table#gFacet tr.geneSubTypeTrCap td {
	padding-left: 15px !important;
	background-image: url('../img/right.gif');
    background-repeat: no-repeat;
    background-position: 2px 50%; /*x,y*/	
}
table#gFacet tr.geneSubTypeTrCap td.unCollapse {
	background-image: url('../img/down.gif');
}
table#gFacet tr.geneSubTypeTr {
	display: none;
}
table#pipeline td[class^=procedure]:nth-child(1) {
	padding-left: 5px;
}
table#pipeline tr[class$=_param] {
	display: none;
	font-size: 10px;
	color: gray;
	cursor: text !important;
}

img#maFacetInfo, img#mpFacetInfo {
	float: right;	
	margin: 0px 80px 10px 10px;		
	height: 10px;
	display: none;
	position: relative;
}
span#maMsg, span#mpMsg {
	position: absolute;
	margin-top: 13px;
	margin-left: 18px;
	width: 200px;	
	border: 1px solid gray;
	display: none;
	z-index: 9999;
	background-color: #CCCCCC;
	padding: 20px;
	font-size: 11px;
	font-weight: normal;
	color: black;
}
span#maMsg {
	margin-left: 40px;
}
table#mpTable, table#maTable {
	float: left;
	margin: 0;
}

.highlight {
  color: #D17023;
}

div[id^=ui-tabs-] span {
	display: block;
	border-bottom: 1px solid #CDC8B1;	
	padding: 1px 0;	
}
div[id^=ui-tabs-] span:last-child {
	border-bottom: none;
}
div.ui-tabs-panel {
	padding: 2px 5px !important;	
}
div[id^=mpTab_], div[id^=maTab_] {
	margin-top: 4px;
}
div[id^=mpTab_] ul.ui-tabs-nav,
div[id^=maTab_] ul.ui-tabs-nav {
	background: none !important;
	border: none !important;
}
div[id^=mpTab_] ul.ui-tabs-nav li a,
div[id^=maTab_] ul.ui-tabs-nav li a {
	padding: 0 6px;
	font-size: 8px !important;
}

/* image facet table */
tr.facetSubCat td {
	font-weight: bold;
	font-size: 12px;
	color: black;
	background-color: #F4F4F4;
	padding: 3px;
}

table#imagesGrid td img {
	width: 50px !important;
	margin-left: 3px;
}

/* end of image facet table */

/* table tool */
div#tableTool {
	font-size: 12px;
	position: absolute;
	top: -127px;
	right: 10px;
}
div#saveTable {
	position: relative;
	top: 100px;
	float: right;
	margin-right: 10px;
	cursor: pointer;	
	padding: 1px 5px;
	z-index: 99;	
	background-color: #F4F4F4;
	width: 85px;
}
div#toolBox {
	position: relative;
	top: -30px;
	right: 10px;	
	height: 123px;
	width: 200px;	
	display: none;
	padding: 15px;	
	background-color: #F4F4F4;
}
div#toolBox span {
	display: block;
}
div#saveSep {
	margin: 10px;
}
div.dataName {
	font-weight: bold;
	height: auto;
}
div#exportSpinner {
	float: left;
	color: #CC6600;
}
/* end of table tool */

span.hiddenId {
	display: none;
}
div.gridSubTitle {
	display: inline;	
}
div.gridTitle, div#resultMsg, strong.lead {
	color: gray !important;
	font-weight: bold !important;
	font-size: 13px !important;
}
div.dataTables_wrapper {
	margin-top: 30px;
}

/*
 * Table
 */
table.dataTable {
	margin: 0 auto;
	clear: both;
	width: 100%;
}

table.dataTable thead th {
	padding: 3px 18px 3px 10px;
	border-bottom: 1px solid black;
	font-weight: bold;
	cursor: pointer;
	*cursor: hand;
}

table.dataTable tfoot th {
	padding: 3px 18px 3px 10px;
	border-top: 1px solid black;
	font-weight: bold;
}

table.dataTable td {
	padding: 3px 10px;
}

table.dataTable td.center,
table.dataTable td.dataTables_empty {
	text-align: center;
}

table.dataTable tr.odd { background-color: #E2E4FF; }
table.dataTable tr.even { background-color: white; }

table.dataTable tr.odd td.sorting_1 { background-color: #D3D6FF; }
table.dataTable tr.odd td.sorting_2 { background-color: #DADCFF; }
table.dataTable tr.odd td.sorting_3 { background-color: #E0E2FF; }
table.dataTable tr.even td.sorting_1 { background-color: #EAEBFF; }
table.dataTable tr.even td.sorting_2 { background-color: #F2F3FF; }
table.dataTable tr.even td.sorting_3 { background-color: #F9F9FF; }


/*
 * Table wrapper
 */
.dataTables_wrapper {
	position: relative;
	clear: both;
	*zoom: 1;
}


/*
 * Page length menu
 */
.dataTables_length {
	float: left;
}


/*
 * Filter
 */
.dataTables_filter {
	float: right;
	text-align: right;
}


/*
 * Table information
 */
.dataTables_info {
	clear: both;
	float: left;
}


/*
 * Pagination
 */
.dataTables_paginate {
	float: right;
	text-align: right;
}

/* Two button pagination - previous / next */
.paginate_disabled_previous,
.paginate_enabled_previous,
.paginate_disabled_next,
.paginate_enabled_next {
	height: 19px;
	float: left;
	cursor: pointer;
	*cursor: hand;
	color: #111 !important;
}
.paginate_disabled_previous:hover,
.paginate_enabled_previous:hover,
.paginate_disabled_next:hover,
.paginate_enabled_next:hover {
	text-decoration: none !important;
}
.paginate_disabled_previous:active,
.paginate_enabled_previous:active,
.paginate_disabled_next:active,
.paginate_enabled_next:active {
	outline: none;
}

.paginate_disabled_previous,
.paginate_disabled_next {
	color: #666 !important;
}
.paginate_disabled_previous,
.paginate_enabled_previous {
	padding-left: 23px;
}
.paginate_disabled_next,
.paginate_enabled_next {
	padding-right: 23px;
	margin-left: 10px;
}

.paginate_enabled_previous { background: url('../images/back_enabled.png') no-repeat top left; }
.paginate_enabled_previous:hover { background: url('../images/back_enabled_hover.png') no-repeat top left; }
.paginate_disabled_previous { background: url('../images/back_disabled.png') no-repeat top left; }

.paginate_enabled_next { background: url('../images/forward_enabled.png') no-repeat top right; }
.paginate_enabled_next:hover { background: url('../images/forward_enabled_hover.png') no-repeat top right; }
.paginate_disabled_next { background: url('../images/forward_disabled.png') no-repeat top right; }

/* Full number pagination */
.paging_full_numbers {
	height: 22px;
	line-height: 22px;
}
.paging_full_numbers a:active {
	outline: none
}
.paging_full_numbers a:hover {
	text-decoration: none;
}

.paging_full_numbers a.paginate_button,
.paging_full_numbers a.paginate_active {
	border: 1px solid #aaa;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	padding: 2px 5px;
	margin: 0 3px;
	cursor: pointer;
	*cursor: hand;
	color: #333 !important;
}

.paging_full_numbers a.paginate_button {
	background-color: #ddd;
}

.paging_full_numbers a.paginate_button:hover {
	background-color: #ccc;
	text-decoration: none !important;
}

.paging_full_numbers a.paginate_active {
	background-color: #99B3FF;
}


/*
 * Processing indicator
 */
.dataTables_processing {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 250px;
	height: 30px;
	margin-left: -125px;
	margin-top: -15px;
	padding: 14px 0 2px 0;
	border: 1px solid #ddd;
	text-align: center;
	color: #999;
	font-size: 14px;
	background-color: white;
}


/*
 * Sorting
 */
.sorting { background: url('../images/sort_both.png') no-repeat center right; }
.sorting_asc { background: url('../images/sort_asc.png') no-repeat center right; }
.sorting_desc { background: url('../images/sort_desc.png') no-repeat center right; }

.sorting_asc_disabled { background: url('../images/sort_asc_disabled.png') no-repeat center right; }
.sorting_desc_disabled { background: url('../images/sort_desc_disabled.png') no-repeat center right; }
 
table.dataTable thead th:active,
table.dataTable thead td:active {
	outline: none;
}


/*
 * Scrolling
 */
.dataTables_scroll {
	clear: both;
}

.dataTables_scrollBody {
	*margin-top: -1px;
	-webkit-overflow-scrolling: touch;
}

@CHARSET "UTF-8";

table.dataTable th {
	border-bottom: 3px solid #d57c24 !important;
}
table.dataTable td {
	background-color: white !important;
}
div.dataTables_info, div.dataTables_paginate {
	margin: 25px 0 0 10px !important; 	
}
div.dataTables_paginate {
	margin: 25px 10px 0 0; 	
}
span.hit {
	color: #d57c24;	
}
div#tableShowAllLess span {
	cursor: pointer;
	padding: 3px 5px;
	border: 1px solid gray;
	font-size: 11px;
	background-color: #F4F4F4;
	border: 1px solid #CDC8B1;
}
div#foundEntries, div#tableShowAllLess {
	padding-left: 10px;	
}
div#mpi2-search table.dataTable th {
	cursor: text !important; /* still need to do this even though dataTable is told not to sort by bSort: false */ 
}

/*
TableTools styles: posted as fix for bootstrap buttons from datatables.net
https://github.com/DataTables/Plugins/commit/9556be3b19c5c46e393b7ebaae7f402c03d992cb
See http://datatables.net/forums/discussion/11885/problem-with-the-tabletools-using-twitter-bootstrap/p1
*/
.table tbody tr.active td,
.table tbody tr.active th {
background-color: #08C;
color: white;
}

.table tbody tr.active:hover td,
.table tbody tr.active:hover th {
background-color: #0075b0 !important;
}

.table-striped tbody tr.active:nth-child(odd) td,
.table-striped tbody tr.active:nth-child(odd) th {
background-color: #017ebc;
}

table.DTTT_selectable tbody tr {
cursor: pointer;
*cursor: hand;
}

div.DTTT .btn {
color: #333 !important;
font-size: 12px;
}

div.DTTT .btn:hover {
text-decoration: none !important;
}


ul.DTTT_dropdown.dropdown-menu a {
color: #333 !important; /* needed only when demo_page.css is included */
}

ul.DTTT_dropdown.dropdown-menu li {
position: relative;
}

ul.DTTT_dropdown.dropdown-menu li:hover a {
background-color: #0088cc;
color: white !important;
}

/* TableTools information display */
div.DTTT_print_info.modal {
height: 150px;
margin-top: -75px;
text-align: center;
}

div.DTTT_print_info h6 {
font-weight: normal;
font-size: 28px;
line-height: 28px;
margin: 1em;
}

div.DTTT_print_info p {
font-size: 14px;
line-height: 20px;
}




/*
Add custom css overrides here
  This file gets included as the last CSS import, so anything defined here 
  should override behavior defined previously
*/

div.documentation a {
	float: right;
	margin-right: 15px;	
}
#examplesearches {
	color:white;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size:12px;
	text-decoration: underline;
	text-shadow:none;
	text-transform:none;
	font-weight:normal;	
}
#searchBlock {padding-top:20px;}
#userInput{width:464px;}

body span p.ikmcbreadcrumb {
	white-space:normal;padding-top:31px;color:#333333;font-size:14px;text-shadow:none;text-transform:none;font-weight:normal;
}
body span p.ikmcbreadcrumb span {
	white-space:nowrap;border:solid 1px #ccc;padding:3px 2px 1px 2px;
}
@media all and (max-width: 1200px) {
	#userInput{width:356px;}
	#examplesearches {color:#333333;}
}
@media all and (max-width: 979px) {
	div#spacer{width:250px;}
	#userInput{width:496px;}
	#examplesearches {color:#333333;}
	span#searchBlock {width:600px;}
}
@media all and (max-width: 767px) {
	#bannerSearch, #bannerSearch input{display:block; width:100%; margin:0;}	
	#logoImage {float:none; width:auto;}	
	div.mpi2-grid{margin:0; display:block;clear: both;}
	body span p.ikmcbreadcrumb {padding-top:0px;margin-bottom:0px;}
	body span p.ikmcbreadcrumb span { white-space:nowrap;border:solid 1px #ccc;padding:1px 2px 1px 2px;margin-bottom:0px; }
	#userInput{width:252px;}
	#examplesearches {color:#333333; float:none; padding-left:236px;}
	div#userKeyword{padding:0px;}
	span#searchBlock {padding-top:0px;}
	#logoImage{width:84px;}
}

/* LOGO COLOR: CF8206 */
/* a{color:#1B70F8;} */
@-o-viewport { width: device-width; }
#logoText {display: none;}	
.navbar{margin-bottom:7px;}
body {margin-top:0; padding-top:1em;}
div#spacer{width:140px;}
#logo{text-align:center;padding: 2px;}
.mpi2-grid .pagination a, .mpi2-grid .pagination span{float:none;}
.mpi2-grid .footer{display:none;}
img { -ms-interpolation-mode: bicubic; }
/* img#logoImage{width:70px;height:91px;margin-left:15px;} */
.centered-text {text-align:center}

 div.topic {
	margin: 0 0 7px 0;		
	color: #27408B;
    font-size: 26px;
    font-weight: bold;
}

h4.caption {
	text-align: left;
	font-size: 20px;
	font-weight: bold;
	color: #27408B;
	padding-bottom: 7px; 
}

table th {
text-align: left;	
font-weight:bold;
color:#01617a;
border-bottom:3px solid #d57c24;
border-top: none !important;
}
table caption {
	text-align: left;
	font-size: 20px;<script type='text/javascript' src='${baseUrl}/js/utils/tools.js'></script>
	font-weight: bold;
	color: #27408B;
	padding-bottom: 10px; 
}
table td {
	border-bottom: 1px solid #CDC8B1; 
    text-align: left;
    padding: 5px;
}
table tr:first-child td {
 	border-top: none;
}
table tr:last-child td{
	border-bottom: none;
}

.toggleIcon {
 
   margin:10px;
background-image: url('../img/down-arrow.png');
background-repeat:no-repeat;

}

.divOpen{   
   margin:10px;
background-image: url('../img/up-arrow.png');
background-repeat:no-repeat;
}

div.gridTitle {
	font-size: 125%;
	font-weight: bold;
	margin-bottom: 20px;
}
div.gridSubTitle {
	color: gray;
	font-weight: bold;
	margin-bottom: 20px;
} 
div.fileIcons {
	padding: 0 10px 10px 15px;
	float: right;
}
button.fileIcon, button.gridDump {
	width: auto;
	height: 20px;	
	background-repeat:no-repeat;
	background-position: 90% 50%;
	background-color: white; 
	border: 1px solid #CDC8B1;
	margin-left: 10px;
	/*padding: 0 25px 2px 7px;*/
	/*line-height: 8px;*/	
	width: 50px;
	padding-right: 20px;
	font-size: 11px;
}
button[class^=tsv_] {
	background-image: url('../img/textfile.gif');	
}
button[class^=xls_] {
	background-image: url('../img/excel14x14.png');
}
/*button[class^=tsv_], button[class^=excel_]{
	background-repeat: no-repeat;
	background-position: 90% 50%;
	width: 50px;
	padding-right: 20px;
	font-size: 11px;
} */

/* Data table styles */
table.table thead .sorting,
table.table thead .sorting_asc,
table.table thead .sorting_desc,
table.table thead .sorting_asc_disabled,
table.table thead .sorting_desc_disabled {cursor: pointer;*cursor: hand;}
table.table thead .sorting { background: url('../img/sort_both.png') no-repeat center right; }
table.table thead .sorting_asc { background: url('../img/sort_asc.png') no-repeat center right; }
table.table thead .sorting_desc { background: url('../img/sort_desc.png') no-repeat center right; }
table.table thead .sorting_asc_disabled { background: url('../img/sort_asc_disabled.png') no-repeat center right; }
table.table thead .sorting_desc_disabled { background: url('../img/sort_desc_disabled.png') no-repeat center right;}
div.dataTables_length label {float: left; text-align: left;}
div.dataTables_length select {width: 75px;}
div.dataTables_filter label {float: right;}
div.dataTables_info {padding-top: 8px;}
div.dataTables_paginate {float: right;margin: 0;}
div#phenotypesDiv div.dataTables_paginate {display: none !important;}
table {margin-bottom: 6px !important;/* clear: both; */}
.pagination-small {height: 26px;}
.pagination-small ul li a {padding: 0 10px;line-height: 24px;}

/* we want our collapsible headings to be capitilized*/
.accordion-heading .accordion-toggle {
 text-transform: capitalize;
}

.accordion-heading .accordion-toggle i {
 padding-right:5px;
}
div#noSupport {
	border: 1px solid gray;
	padding: 30px;	
}

/*override bootstrap css here so our info labels match the Gene Status color currently */
.label-info, .badge-info{
background-color: #2f96b4;
opacity : .65;
}






/* from andy */

body {
    margin-top: 0px;
    padding-top: 0;
	font-family: Arial,Helvetica,sans-serif;
    font-size: 14px;
    line-height: 20px;
    color: rgb(51, 51, 51);
}

#logoImage {
    margin: 0px;
    /*background-color: #fff;*/
    padding: 10px 12px;
    position: relative;
    top: -2px;
    left: -35px;
}

.navbar .nav {
    position: relative;
    left: 0px;
    display: block;
    float: left;
    margin: 14px 10px -15px -12px;
}


/* for vertical text on tables for procedures stats */

/* td, th
{
    border: 1px solid black;
    white-space: nowrap;
    vertical-align:  bottom;
} */

/* #title2 th
{
    width: 15px;
    height: 500px;
    transform: rotate(-90deg);
    vertical-align:  bottom;
} */

    .containerVert
    {
        /* float your elements or inline-block them to display side by side */
        float: left;
        /* these are height and width dimensions of your header */
        height: 300px;
        width: 1.5em;
        /* set to hidden so when there's too much vertical text it will be clipped. */
        overflow: hidden;
        
        /* these are not relevant and are here to better see the elements */
       background: #eee;
        margin-right: 1px;
    }
        .containerVert  .vert
        {
            /* line height should be equal to header width so text will be middle aligned */
            line-height: 1.5em;
            /* setting background may yield better results in IE text clear type rendering */
            background: #eee;
            
            
            /* this will prevent it from wrapping too much text */
            white-space: nowrap;
            /* so it stays off the edge */
            padding-left: 3px;
 
            /* IE specific rotation code */
            writing-mode: tb-rl;
            filter: flipv fliph;
            
            /* CSS3 specific totation code */
            /* translate should have the same negative dimension as head height */
            transform: rotate(270deg) translate(-21em,0);
            transform-origin: 0 0;
            -moz-transform: rotate(270deg) translate(-21em,0);
            -moz-transform-origin: 0 0;
            -webkit-transform: rotate(270deg) translate(-21em,0);/*change the - number to move text down cell */
            -webkit-transform-origin: 0 0;
              }


.button .btn .impcPStatus{
width:100%;	
} 
/* override the bootstrap image style for Allele images */ 
/* need a hack for IE */
body div#allele_tracker_panel_results  table {
	width:100%;
}
body div#allele_tracker_panel_results  a {
	max-width: 400px;
	width:auto;
	height:auto;
}
body div#allele_tracker_panel_results  a img {
	max-width:400px;
	width:100%;
	height:auto;
-ms-interpolation-mode: bicubic;
}

.dataset {
	border: 1px solid #6998CB;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
	/* padding: 7px 7px 0; */
	margin-bottom: 7px;
	padding: 7px;
}

#drawableCanvas{
    width: 700px;
}

.graphGenBackground{
	 font-size: 0.8em;
}
/* stye so that filter dropdowns have tick boxes next to them and not block ie. above like bootstrap specifies for labels */
.ui-dropdownchecklist-text{
	display: inline;/* background-color: #2f96b4; */
	/* background-color: white; */
	color: black;
	margin: 4px;
	font-size: 14px;
	}
/*make the checkboxes have a reasonable spacing around them*/
.ui-dropdownchecklist-item input[type=checkbox] {
	margin: 4px 4px 4px;
	}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default{
	background: white;
}
	
 .ui-state-hover {
	background-color: #d57c24;
} 

.caption {
    text-align:center;
    font-size:0.875em;
}